*{
    background-color: #ddd;
}

div{

    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}

.importante{
    background-color: purple !important;
}

.classe{
    background-color: aqua;
}

#green{
    background-color: green;
    width: 200px;
    height: 200px;
}

div:hover{
    background-color: #666 !important;
    border: 2px solid black;
    transform: rotate(75deg);
}